<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%-include("hearder")-%>
  <body>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
    <div class="box">
      <% newTasks.forEach(function(listItem){ %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkedItem" value="<%= listItem._id%>" onChange="this.form.submit()">
            <p><%- listItem.name%></p>
          </div>
          <input type="hidden" name="listName" value="<%= listType %>"></input>
        </form>
      <% }); %>
      <form class="itemInput" action="/" method="post">
        <input type="text" name="task" placeholder="What's next?" autocomplete="off">
        <button type="submit" name="submitted" value=<%= listType %>>+</button>
      </form>
    </div>
  </body>
  <%- include("footer")-%>
</html>
